

.feed {
    text-align:left;
    width: 100%;
    transition: all .3s ease-out;
    margin-top:0.5rem;
    top:0;
    @mixin atSmall {
        height:100%;
        position: static;
        height: 21rem;
        width: 111rem;
        transition: all .3s ease-out;
    }



    &__text {
        position: absolute;
        background-color: rgba(200 ,200 ,200, 0.8);
        font-size: 1.275rem;
        color: rgba(51 ,51 ,51, 1);
        padding: 0.15rem 0.25rem 0 0.25rem ;
        z-index:1;
        cursor: pointer;

        @mixin atSmall {
            position: absolute;
            font-size: 0.875rem;
            padding: 0.15rem 0.25rem 0 0.25rem ;
            z-index:1;
            cursor: pointer;
        }
    }

    &__module {
        float: left;
        width: 100%;
        height: 7rem;
        position:relative;
        overflow: hidden;
        margin-bottom: 1rem;

        @mixin atSmall {
            float: left;
            width: 33%;
            height: 33%;
            position:relative;
            margin-bottom: 0;

        }


        &--height-of-two {

            @mixin atSmall {
                height: 64%;
            }


        }

        &--film-page {

            @mixin atSmall {
                height: 100%;
                width: 50%;

            }
        }

        &:after {
            @mixin: clearfix;
        }

    }

    &__image {
        position: absolute;
        cursor: pointer;
        opacity: 0.8;
        width:100%;

        @mixin atSmall {
            width:auto;
        }

        & img {
            @mixin atSmall {
                width: 100%;
            }

        }

        &:hover {
            opacity: 1;
        }

        &--vert-center {
            top: 0;
            transform: translateY(0);

            @mixin atSmall {
                top:50%;
                transform: translateY(-50%);
            }
        }

        &--vert-bottom {
            bottom: auto;
            @mixin atSmall {
                bottom: 0;
            }
        }

        &--hor-right {
            right: 0;
        }

        &--hor-center {
            left: 0;
            right: 0;
            text-align:center;
        }

    }

        &__image--1-1-1 {
            position:absolute;
            overflow: hidden;
            width: 155px;
            height: 216px;


            & img {
                position: relative;
                left:-3px;
                top:-100px;

                @mixin atSmall {
                    position:relative;
                    left:-3px;
                    top:-1px;
                }
            }
        }

        &__image--1-1-2 {
            margin:auto;
            overflow: hidden;
            width: 150px;
            height: 94px;

            & img {
                position:relative;
                left:0;
                top:1;
                width: 100%;
            }
        }

        &__image--1-1-3 {
            overflow: hidden;
            width: 159px;
            height: 94px;

            & img {
                position:relative;
                left:0;
                top:-40px;

                @mixin atSmall {
                        top:-1px;
                }

            }
        }

        &__image--1-2-1 {
            margin:auto;
            overflow: hidden;
            width: 150px;
            height: 87px;
            & img {
                position:relative;
                left:-6px;
                top:-3px;
            }
        }

        &__image--1-2-2 {
            /*background: red;*/
            margin:auto;
            overflow: hidden;
            width: 150px;
            height: 87px;
            & img {
                position:relative;
                left:-6px;
                top:-50px;
                @mixin atSmall {
                    top:-3px;
                }
            }
        }

        &__image--1-2-3 {
            overflow: hidden;
            width: 159px;
            height: 87px;

            & img {
                @mixin atSmall {
                    width: 100%;
                }

                position:relative;
                left:0;
                top:0;
            }
        }

        &__image--1-3-1 {
            overflow: hidden;
            width: 155px;
            height: 95px;
            & img {
                position:relative;
                left:-3px;
                top:-1px;
            }
        }

        &__image--1-3-2 {
            margin:auto;
            overflow: hidden;
            width: 150px;
            height: 93px;

            & img {
                position:relative;
                left:0px;
                top:0px;
            }
        }

        &__image--1-3-3 {
            overflow: hidden;
            width: 159px;
            height: 95px;


            & img {
                left:0;
                top:-70px;
                @mixin atSmall {
                    top: 0;
                }

            }
        }

        &__image--2-1-1 {
            overflow: hidden;
            width: 150px;
            height: 94px;
            & img {
                position:relative;
                left:-3px;
                top:-70px;
                @mixin atSmall {
                    top:-1px;
                }

            }
        }

        &__image--2-1-2 {
            margin:auto;
            overflow: hidden;
            width: 150px;
            height: 94px;
            & img {
                position:relative;
                left:0;
                top:0;
            }
        }

        &__image--2-1-3 {
            overflow: hidden;
            width: 159px;
            height: 94px;

            & img {
                position:relative;
                left:0;
                top:0;
            }
        }

        &__image--2-2-1 {
            margin:auto;
            overflow: hidden;
            width: 150px;
            height: 87px;
            & img {
                position:relative;
                left:-6px;
                top:-3px;

            }
        }

        &__image--2-2-2 {
            margin:auto;
            overflow: hidden;
            width: 150px;
            height: 87px;
            & img {
                position:relative;
                left:-6px;
                top:-3px;
            }
        }

        &__image--2-2-3 {
            overflow: hidden;
            width: 159px;
            height: 87px;

            & img {
                position:relative;
                left:0;
                top:-40px;
                @mixin atSmall {
                    top:0;
                }
            }
        }

        &__image--2-3-1 {
            overflow: hidden;
            width: 155px;
            height: 89px;
            & img {
                position:relative;
                left:-3px;
                top:-1px;
            }
        }

        &__image--2-3-2 {
            margin:auto;
            overflow: hidden;
            width: 150px;
            height: 93px;

            & img {
                position:relative;
                left:0;
                top:-40px;
                @mixin atSmall {
                    top:0;
                }
            }
        }

        &__image--2-3-3 {
            overflow: hidden;
            width: 159px;
            height: 99px;

            & img {
                position:relative;
                left:0;
                top:-70px;
                @mixin atSmall {
                    top:0;
                }
            }
        }


        &__image--3-1-1 {
            overflow: hidden;
            width: 150px;
            height: 94px;
            & img {
                position:relative;
                left:-3px;
                top:-80px;
                @mixin atSmall {
                    top:-1px;
                }
            }
        }

        &__image--3-1-2 {
            margin:auto;
            overflow: hidden;
            width: 150px;
            height: 94px;
            & img {
                position:relative;
                left:0;
                top:-50px;
                @mixin atSmall {
                    top:0;
                }
            }
        }

        &__image--3-1-3 {
            overflow: hidden;
            width: 159px;
            height: 94px;

            & img {
                position:relative;
                left:0;
                top:-60px;
                @mixin atSmall {
                    top:0;
                }
            }
        }

        &__image--3-2-1 {
            margin:auto;
            overflow: hidden;
            width: 150px;
            height: 87px;
            & img {
                position:relative;
                left:-6px;
                top:-3px;
            }
        }

        &__image--3-2-2 {
            margin:auto;
            overflow: hidden;
            width: 150px;
            height: 87px;
            & img {
                position:relative;
                left:-6px;
                top:-80px;
                @mixin atSmall {
                    top:-3px;
                }
            }
        }

        &__image--3-2-3 {
            overflow: hidden;
            width: 159px;
            height: 87px;

            & img {
                position:relative;
                left:0;
                top:-80px;
                @mixin atSmall {
                    top:-10px;
                }
            }
        }

        &__image--3-3-1 {
            overflow: hidden;
            width: 155px;
            height: 89px;
            & img {
                position:relative;
                left:-3px;
                top:-1px;

            }
        }

        &__image--3-3-2 {
            margin:auto;
            overflow: hidden;
            width: 150px;
            height: 93px;

            & img {
                position:relative;
                left:0;
                top:-80px;
                @mixin atSmall {
                    top:0px;
                }
            }
        }

        &__image--3-3-3 {
            overflow: hidden;
            width: 159px;
            height: 99px;

            & img {
                position:relative;
                left:0;
                top:-100px;
                @mixin atSmall {
                    top:0px;
                }
            }
        }

        &__image--film-L {
            overflow: hidden;
            width: 100%;
            height: 100%;

            & img {
                position:relative;
                left:0;
                top:-10px;
            }
        }

        &__image--film-R {
            overflow: hidden;
            width: 100%;
            height: 100%;

            & img {
                position:relative;
                left:0;
                top:-320px;

                @mixin atSmall {
                    top:0;

                }
            }
        }

        &__image--mobile {
            @mixin atMobile{
                height: 10rem;
                width: 100%;
            }

            & img {
                @mixin atMobile{
                    width: 100%;
                    left: 0;
                }
            }
        }


    &__page {
        overflow: hidden;

        @mixin atSmall {
            margin-left: 2rem;
            margin-right: 2rem;
            float: left;
            height: 100%;
            width: 33rem;
        }

        &:after {
            @mixin: clearfix;
        }

        &:after {
          content: "";
          display: table;
          clear: both;
        }


    }

    &--1 {
        transform:translateX(0);

        @mixin atSmall {
            transform:translateX(-2rem);
        }

    }

    &--2 {
        transform:translateX(-39rem);
    }

    &--3 {
        transform:translateX(-76rem);
    }

}
