.studio {
  position:relative;
  display:none;

  @mixin atSmall {
    padding-top:2rem;
  }

  &__text {
    display:block;
    padding: 0 1.4rem 0 3.4rem;
    font-size: 1.2rem;
    width: 25rem;

    @mixin atSmall{
      position:absolute;
      top:1rem;
      right:0;
      padding: 0 1.4rem 0 1.4rem;
      width: 15rem;
      font-size: 1rem;
    }
  }

  &__image {
    display: none;
    @mixin atSmall{
      display: block;
      width: 18rem;
      & img {
        max-width: 100%;
      }
    }

  }

}
